{{define "title"}} snippet #{{.Snippet.ID}} {{end}}


{{define "main"}}
{{with .Snippet}}
<div class="snippet">
    <div class="metadata container">
        <div class="row">
            <strong class="column">{{.Title}}</strong>
            <strong class="column text-right">#{{.ID}}</strong>
        </div>
    </div>
    <pre>
        <code>{{.Content}}</code>
    </pre>
    <div class="container">
        <div class="metadata row">
            <time class="column">Created: {{humanDate .Created}} </time>
            <time class="column text-right">Expires: {{humanDate .Expires}} </time>
        </div>
    </div>
</div>
{{end}}
{{end}}