{{define "base"}}
<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>{{template "title" .}} - codebox</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/static/css/milligram.min.css'>
    <link rel='stylesheet' href='/static/css/main.css'>
</head>

<body>
    <!-- title -->
    <header>
        <img class="logo" src="/static/img/logo.png" alt="">
        <a href='/' class="level-item">Codebox</a>
    </header>


    <!-- navigation -->
    {{template "nav" .}}

    <main>
        {{with .Flash}}
        <div class='flash'>{{.}}</div>
        {{end}}
        {{template "main" .}}
    </main>
    <footer>
        Powered by <a href='https://golang.org/'> Go </a> in {{.CurrentYear}}
    </footer>
</body>

</html>
{{end}}