{{define "base"}}
<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>{{template "title" .}} - codebox</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/static/css/main.css'>
</head>

<body>
    <!-- title -->
    <header>
        <img class="logo" src="/static/img/logo.png" alt="">
        <h1>
            <a href='/' class="level-item">Codebox</a>
        </h1>
    </header>


    <!-- navigation -->
    {{template "nav" .}}

    <main>
        {{template "main" .}}
    </main>
    <footer>Powered by  <a href='https://golang.org/'> Go </a></footer>
</body>

</html>
{{end}}