body {
    margin-top: 0.2vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-grow: 0;
    gap: 10px
}

.logo {
    height: 50%;
    width: auto;
}


header a {
    color: black;
    text-decoration: none;
    font-size: 4.6rem;
}


nav {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 50%;
    min-height: 4.6rem;
    padding-left: 20px;
    flex-grow: 0;
    border-top: 1px groove black;
    border-bottom: 1px groove black;
    gap: 10px;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: #0056b3;
}

main {
    margin-top: 2vh;
    padding: 0 20px;
    width: 50%;
    flex-grow: 1;
}

.snippet {
    width: 100%;
}

footer {
    width: 50%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    gap: 10px;
}

.form-content textarea {
    min-height: 30vh;
    resize: vertical;
}

code {
    font-size: 1.8rem;
}

.container {
    padding: 0;
}

.row {
    margin: 0;
    width: 100%;
}

.row .column {
    padding: 0;
}

.text-right {
    text-align: right;
}